# GoogleCloud サービスアカウント認証情報JSON
# コンテナ内部から見たパス（/config/ が addon_configs直下を指します）
GOOGLE_APPLICATION_CREDENTIALS = "/congig/YOUR_PATH"

# BigQuery記録先テーブルID
BIGQUERY_TABLE_PATH = "YOUR_TABLE_ID"

# トレース対象entity
TARGET_ENTITY_ID = "YOUR_ENTITY_ID"